.BookedAppointments {
  margin: 5% 10%;
}

.BookedAppointments h2 {
  text-align: center;
}

.BookedAppointments p {
  margin: 0 5% 10%;
  text-align: center;
}

.NoHistory {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 2rem;
}