.PasswordReset {
  margin: 5% 10%;
}

.PasswordReset h2 {
  text-align: center;
}

.PasswordReset p {
  margin: 0 5% 10%;
  text-align: center;
}

.ContactDataForm .btn {
  margin: 5% auto;
  padding: .5rem 2rem;
}