.footer-nav li {
  display: inline-block;
  margin-right: 20px;
}

.footer-nav li a:link,
.footer-nav li a:visited {
  color: #888888;
  text-decoration: none;
  transition: color 0.2s;
  -webkit-transition: color 0.2s;
  -moz-transition: color 0.2s;
  -ms-transition: color 0.2s;
  -o-transition: color 0.2s;
}

.footer-nav li a:hover,
.footer-nav li a:active { color: #dddddd; }