.AppointmentSummary h3 {
  text-align: center;
}

.AppointmentSummary p {
  text-align: start;
  margin: 2rem 3rem 0;

  line-height: 150%;
}

.AppointmentSummary .sub-p {
  margin-top: 0;
}

.AppointmentSummary .last-p {
  margin: 2rem 3rem;
}

.AppointmentSummary .row {
  padding: 3% 3rem;
}

.AppointmentSummary Button {
  margin: 0 auto;
}