.ContactDataForm {
  margin: 5% 10%;
}

.ContactDataForm h2 {
  text-align: center;
}

.ContactDataForm p {
  margin: 0 5% 10%;
  text-align: center;
}

.ContactDataForm .row {
  display: flex;
  /* position: relative; */
  justify-content: center;
  align-items: center;
}

.ContactDataForm .btn {
  margin: 5% 0;
  padding: .5rem 2rem;
}

.Terms {
  margin-top: 2rem;
  display: flex;
  white-space: nowrap;
  align-items: center;
  justify-content: center;
}

.Terms input {
  max-width: 50px;
}

.Error {
  color: red;
  display: flex;
  justify-content: center;
  margin: 2rem 0;
}