@media only screen and (max-width: 480px) {
  .Banner
  .SubBanner {
    background-image: linear-gradient(-45deg, rgba(238, 84, 84, 0.8), rgb(0, 0, 0, .6)), url('./images/business.jpg') no-repeat center center fixed;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    height: 70vh;
    overflow: hidden;
  }

  .Testimonials {
    padding: 4rem 0 2rem 0;
    text-align: center;
    background-image: linear-gradient(45deg, rgb(0, 0, 0, .6), rgb(0, 0, 0, .6)), url('./images/testimonials.jpg') no-repeat center center fixed;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    color: #fff;
    height: 100%;
    overflow: hidden;
  }

}