.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
}

.dropdown-content a {
  display: block;
  padding: 1.8rem 1rem 1rem;
}

.dropdown-content a:hover {
  color: #d7d8d9;
  text-decoration: none;
}

.dropdown:hover 
.dropdown-content {
  display: block;
}

.dropdown-custom-item {
  color: #82868a;
  background-color: #343a40;
  white-space: nowrap;
}

.droplink {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.ProfileIcon {
  background-color: #3e7fc0;
  padding: .7rem;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

