.Banner .row {
  margin: 0;
}

.Banner {
  background-image: linear-gradient(-45deg, rgba(238, 84, 84, 0.8), rgb(0, 0, 0, .6)), url('../../assets/images/business.jpg');
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-attachment: fixed;
  height: 70vh;
}

.Banner .col-sm-8
{
  color: #fff;
  transform: translateY(30vh);
  -webkit-transform: translateY(30vh);
  -moz-transform: translateY(30vh);
  -ms-transform: translateY(30vh);
  -o-transform: translateY(30vh);
}

.Banner h1 {
  font-size: 2.5rem;
  font-weight: 300;
  word-spacing: 4px;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin: 0 0 1.5rem 0;
}